<table>
    <tr>
        <th>お名前</th>
        <td><%= form.text_field :name %></td>
    </tr>
    <tr>
        <th>メールアドレス</th>
        <td><%= form.text_field :email %></td>
    </tr>
    <tr>
        <th>ご用件</th>
        <td><%= form.text_field :request %></td>
    </tr>
    <tr>
        <th>内容</th>
        <td><%= form.text_area :text, cols: 400, rows: 3 %></td>
    </tr>
</table>