 .product-image {
    border: 1px solid #d9d9db;
    padding: 5px;
    min-height: 10px;
    width: 6rem;
    background-color: #FFFFFF;
    text-align: center;
 
 a {  
    color: #000000;
    text-decoration: none;
 }
 
}

 .product-image2 {
    border: 1px solid #d9d9db;
    padding: 5px;
    min-height: 10px;
    width: 6rem;
    background-color: #FFFFFF;
    text-align: center;
 a {  
    color: #000000;
    text-decoration: none;
 }
 }

.flex-list {
  display: flex;
  img {
    border: 0;
    width: 6rem;
    height: 6rem;
}
}
.flex-list2 {
  display: flex;
  img {
    border: 0;
    width: 6rem;
    height: 6rem;
}
  
}
.flex-list2 .product-image2 {
  flex: auto;
  margin: 5px;
}
.flex-list .product-image {
  flex: auto;
  margin: 5px;
}

@font-face {
  font-family: 'MyFont';
  src: url(assets/Neko_no_Mezame.ttf);
}

body {
  min-width: 980px;
  background: #e6e6e6 none repeat scroll 0 0;
  color: #464646;
  font-size: 100%;
  font-weight: 300;
  margin: 0;
  padding: 0;
  border: 0;
}
@media only screen and (max-width: 900px){
.container {
    width:100%;
}
}
#global_header {
  background-image: url("header_background.png");
  background-repeat: repeat-x;
}

header {
  color: rgba(200, 200, 200, 0.8);
  font-size: 12px;
}

.header_inner {
  position: relative;
  width: 960px;
  height: 65px;
  margin: auto;
}

.header_logo {
  float: left;
}

.header_nav {
  padding-top: 25px;

  ul {
    float: right;

    li {
      display: inline-block;
      margin-right: 13px;

      &::before {
        content: "▶";
      }
    }
  }
}

header a {
  text-decoration: none;
  color: rgba(200, 200, 200, 0.8);
}

#global_nav {
  position: relative;
  width: 960px;
  height: 0;
  z-index: 1000;
  margin: auto;

  ul {
    z-index: 1;
    position: absolute;
    top: -20px;
    right: -1px;
    list-style-type: none;

    li {
      display: inline-block;

      a {
        position: relative;
      }
    }
  }
}

.dropdown {
  z-index: 1;
  display: none;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 65px;
  list-style-type: none;
  color: #fff;

  ul {
    background-color: #441e08;
    padding: 0;

    li {
      font-size: 14px;
      padding: 4px 4px 4px 16px;

      h3 {
        margin: 0;
        padding: 4px;
      }

      h4 {
        font-size: 16px;
        margin: 0;
        padding: 4px 4px 4px 8px;
      }
    }
  }

  .categoly {
    text-indent: 10px;
  }

  ul {
    .padd {
      padding-left: 6px;
    }

    .padd2 {
      padding-left: 10px;
      white-space: nowrap;
    }

    li a {
      color: #fff;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.wrap {
  white-space: nowrap;
}


#global_nav ul li:hover .dropdown {
  display: block;
  width: 160px;
}

.font1 {
  font-family: MyFont;
  white-space: nowrap;
}

#global_footer {
  margin-bottom: 30px;
}

footer {
  background-color: #f4f4f4;
  font-size: 12px;
}

.footer_inner {
  position: relative;
  width: 960px;
  margin: auto;
}

.footer_nav ul li {
  display: inline-block;
  padding: 0 14px 0 10px;

  &::before {
    content: "▶";
  }

  &:last-child::before {
    content: none;
  }
}

footer a {
  color: #464646;
  text-decoration: none;
}

.production {
  position: absolute;
  bottom: 0;
  right: 0;
}