// Place all the styles related to the support controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
h4 {
  font-size: 40px;
  margin-top: 15px;
  margin-bottom: 15px;
  text-align: center;
}

.problem {
  width: 400px;
  height: 150px;
}

.main {
  /* border:2px solid #000; */
  text-align: center;
  width: 800px;
  margin: 0;

  /* background-color:#09d; */
}

ol {
  list-style-type: none;
  text-align: left;
  margin-bottom: 0;
  font-size: 20px;
}

.sitimonbox {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 5px;
  margin-top: 270px;
}

h5 {
  font-size: 30px;
  margin-top: 0;
  margin-bottom: 10px;
  padding-top: 10px;

  /* width:70%;*/
}

.sabu {
  width: 70%;
  margin: 0 auto;
}

.bot {
  margin-top: 5px;
}

section {}

.hurou {
  display: flex;
  flex-flow: row;
}

.op {
  padding-right: 15px;
  padding-left: 15px;
  background: url(看板１.png) no-repeat center center scroll white;
  background-size: 600px;
  height: 565px;
}

.paint {
  /* background-image:url(../images/support/看板１.png);
  background-size:100%; */
}

.emp {
  height: 265px;
  background: url(../images/support/看板2上.png) no-repeat center center scroll white;
  background-size: 600px;
}

.long {
  background: url(../images/support/看板2下.png) repeat-y center 0 scroll white;
  background-size: 600px;
  padding-bottom: 50px;
}

.question {
  width: 70px;
  height: 50px;
  font-size: 20px;
}

@media only screen and (max-width: 850px) {
  .hurou {
    flex-flow: column;
  }

  .op {
    padding: 0;
  }

  .main {
    width: auto;
  }

  .ground {
    margin-bottom: 50px;
  }

  .emp {
    height: 264px;
  }
}