<div>
    <h4>ユーザサポート</h4>
    <p>お困りの内容をお書きください<br>
    <textarea class="problem" name="cont" id="situmo"></textarea>
    </p>
</div>
<p><input  class="question" type="submit" name="submit" value="送信" id ="submit"></p>
<h5>よくある質問</h5>
<ol>
    <li><details>
            <summary>どこに捨てればいいの？</summary>
            <p>地面に刺すか、砕いて埋めてください。</p>
        </details>
    </li>
    <li><details>
            <summary>切れ味が悪くなったらどうしたらいいの？</summary>
            <p>砥石を使って磨いてください（当サイトでは販売いたしておりませんので、他店から購入してください。</p>
        </details>
    </li>
    <li><details>
          <summary>直すにはどうしたらいいの？</summary>
          <p>最寄りの鍛冶屋に行ってください。</p>
        </details>
    </li>
    <li><details>
          <summary>どこに当てれば効率よくダメージを与えれますか？</summary>
          <p>魔物によって弱点は違うのでいろいろ試すまたは書物からの知識を身につけましょう。</p>
        </details>
    </li>
    <li><details>
            <summary>保存方法は？</summary>
            <p>湿気の無いところに保存してください。</p>
        </details>
    </li>
    <li><details>
            <summary>これ犯罪じゃないの？</summary>
            <p>その質問についてはお答えできません。</p>
        </details>
    </li>
    <li><details>
        <summary>剣などを買ったのですが、重くて持てません。</summary>
        <p>鍛えろ！！</p>
    </details>
    </li>
    <li><details>

       <summary>杖を買ったのに、魔法が使えない。</summary>
       <p>お客様には見えないだけで魔法は存在します、お客様の想像力が足りないだけです。</p>
    </details>
    </li>

    
</ol>
<p>Find me in app/views/support/index.html.erb</p>
<!-- ヘッダー部分読み込み  -->
<%= render partial: 'template/header' %>
<!-- -->



